<div class="bg-tribeOrange relative overflow-hidden">
  <div class="hidden xl:block h-28 w-28 absolute top-0 -left-6">
    <img src="svg/purplestar.svg" class="h-full object-contain" alt="purple star" />
  </div>
  <div class="max-w-screen-xl flex flex-col md:flex-row gap-20 flex-wrap items-center justify-center mx-auto py-10 p-4">
    <div class="text-4xl md:text-6xl text-tribeWhite text-center md:text-left">
      <h2 class="font-bold mb-2">Explore all Coupons on </h2>
      <h2 class="font-thin">TwentiesTribe</h2>
    </div>

    <div class="hidden lg:block max-w-60">
      <a href="#" class="block mb-4">
        <img class="" src="img/coupon-thumbnail.png" alt=""/>
      </a>
      <div class="">
        <div class="text-tribeWhite">
          <p class="uppercase mb-1 font-thin text-xs">Promoted</p>
          <a href="#" class="flex justify-between items-end mb-6">
            <h5 class="text-xl font-bold tracking-tight leading-none">UX Designer Intern at Google</h5>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.6992 7.55L6.92374 17.325C6.77707 17.475 6.60289 17.55 6.40122 17.55C6.19954 17.55 6.0237 17.4746 5.87369 17.3237C5.72369 17.1728 5.64868 16.9936 5.64868 16.7862C5.64868 16.5787 5.72369 16.4 5.87369 16.25L15.6492 6.5H6.94874C6.73623 6.5 6.5581 6.42771 6.41434 6.28313C6.27059 6.13853 6.19871 5.95936 6.19871 5.74563C6.19871 5.53188 6.27059 5.35417 6.41434 5.2125C6.5581 5.07083 6.73623 5 6.94874 5H17.4492C17.6617 5 17.8399 5.07187 17.9836 5.21563C18.1274 5.35938 18.1993 5.5375 18.1993 5.75V16.25C18.1993 16.4625 18.127 16.6406 17.9824 16.7844C17.8378 16.9281 17.6586 17 17.4449 17C17.2311 17 17.0534 16.9281 16.9117 16.7844C16.77 16.6406 16.6992 16.4625 16.6992 16.25V7.55Z" fill="white"/>
            </svg>
          </a>

          <div class="flex gap-1">
            <span class="h-[1px] rounded-md w-full bg-tribeWhite"></span>
            <span class="h-[1px] rounded-md w-full bg-tribeWhite/50"></span>
            <span class="h-[1px] rounded-md w-full bg-tribeWhite/50"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden xl:block h-28 w-28 absolute top-0 -right-3">
    <img src="svg/shell.svg" class="h-full object-contain" alt="periwinkle shell" />
  </div>
</div>
