<app-coupon-hero></app-coupon-hero>

<div class="bg-[#FAFAFA] py-16">
  <form class="" [formGroup]="filterForm">
    <div class="max-w-screen-xl grid grid-cols-2 lg:grid-cols-5 gap-4 items-start justify-start mx-auto p-4">

      <div class="bg-tribeWhite rounded-lg col-span-2 md:col-span-1">
        <div class="flex flex-col gap-4" [formGroup]="filterForm">
          <section class="p-4 border-b-2 border-b-tribeBorderGrey last:border-b-0">
            <h3 class="text-sm font-bold text-tribeGrey_1 mb-2">Category</h3>
            <div class="p-2">
              <div *ngFor="let category of categories" class="mb-2 flex items-center">
                <p-radiobutton [inputId]="category" [value]="category" formControlName="category" (onClick)="generalFilter(FilterEnum.category, $event)" />
                <label [for]="category" class="ml-2 text-tribeBlack text-sm">{{ category }}</label>
              </div>
            </div>
          </section>
          <section class="p-4 border-b-2 border-b-tribeBorderGrey last:border-b-0">
            <h3 class="text-sm font-bold text-tribeGrey_1 mb-2">Price</h3>
            <div class="p-2">
              <p-slider formControlName="priceRange" [min]="priceRange.min" [max]="priceRange.max" [range]="true" styleClass="w-full" (onChange)="generalFilter(FilterEnum.priceRange, $event)" />
              <div class="flex justify-between items-center my-4">
                <span class="border-tribeBorderGrey border-2 rounded px-4 py-1 text-sm"> {{ filterForm.get('priceRange')?.value[0] }}</span>
                <span> - </span>
                <span class="border-tribeBorderGrey border-2 rounded px-4 py-1 text-sm"> {{ filterForm.get('priceRange')?.value[1] }}</span>
              </div>
            </div>
          </section>
          <section class="p-4 border-b-2 border-b-tribeBorderGrey last:border-b-0">
            <h3 class="text-sm font-bold text-tribeGrey_1 mb-2">Percentage</h3>
            <div class="p-2">
              <div *ngFor="let percentage of percentages" class="mb-2 flex items-center">
                <p-radiobutton [inputId]="percentage.name" [value]="percentage" formControlName="percentage" (onClick)="generalFilter(FilterEnum.percentage, $event)"/>
                <label [for]="percentage.name" class="ml-2 text-tribeBlack text-sm">{{ percentage.name }}</label>
              </div>
            </div>
          </section>
          <section class="p-4 border-b-2 border-b-tribeBorderGrey last:border-b-0">
            <h3 class="text-sm font-bold text-tribeGrey_1 mb-2">Location</h3>
            <div class="p-2">
              <div *ngFor="let location of locations" class="mb-2 flex items-center">
                <p-radiobutton [inputId]="location" [value]="location" formControlName="location" (onClick)="generalFilter(FilterEnum.location, $event)"/>
                <label [for]="location" class="ml-2 text-tribeBlack text-sm">{{ location }}</label>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="col-span-2 lg:col-span-4 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        <div class="col-span-2 md:col-span-3 lg:col-span-4 flex flex-col md:flex-row items-center gap-6">
          <div class="relative w-full">
            <input formControlName="search" type="text" id="search"
              class="block w-full py-3 px-6 pr-14 placeholder:font-bold text-base border border-gray-300 bg-[#FAFAFA] rounded-[48px] focus:ring-tribeGrey_2 focus:border-tribeGrey_2"
              placeholder="Search for store items"
            >
            <div class="absolute right-6 top-1/2 -translate-y-1/2 ps-3 cursor-pointer">
              <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
              <span class="sr-only">Search icon</span>
            </div>
          </div>

          <div class="flex items-center text-tribeGrey_2 gap-2">
            <span class="font-bold text-lg whitespace-nowrap">
              Sort By:
            </span>
            <p-select [options]="chronologies" formControlName="sort" optionLabel="name" placeholder="" class="w-full md:w-56" (onChange)="generalFilter(FilterEnum.sort)"/>
          </div>
        </div>

        <ng-container *ngIf="coupons.length > 0">
          <div class="col-span-2 md:col-span-3 lg:col-span-4 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 items-stretch">
            <ng-container *ngFor="let coupon of coupons">
              <app-coupon-card [coupon]="coupon"></app-coupon-card>
            </ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="!(coupons.length > 0)">
          <div class="col-span-2 md:col-span-3 lg:col-span-4 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 items-stretch">
            <p class=" p-6 font-bold text-xl col-span-4">Coupons not available</p>
          </div>
        </ng-container>

        <div class="card flex justify-end items-center col-span-2 md:col-span-3 lg:col-span-4">
          <p-paginator
            [first]="first"
            [rows]="rows"
            [totalRecords]="totalRecord"
            [showCurrentPageReport]="true"
            [showPageLinks]="false"
            [showJumpToPageDropdown]="false"
            [showFirstLastIcon]="false"
            currentPageReportTemplate="{first} - {last} of {totalPages} pages"
          />
          <p-paginator
            (onPageChange)="onPageChange($event)"
            styleClass="bg-[#FAFAFA]"
            [first]="first"
            [rows]="rows"
            [totalRecords]="totalRecord"
            [showFirstLastIcon]="false"
            [showJumpToPageDropdown]="false"
          />
        </div>
      </div>
    </div>
  </form>
</div>
