// --------THIN
@font-face {
  font-family: "CreatoDisplay";
  src: url(fonts/CreatoDisplay-ThinItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "CreatoDisplay";
  src: url(fonts/CreatoDisplay-Thin.otf) format("truetype");
  font-style: normal;
  font-weight: 100;
}

// --------LIGHT
@font-face {
  font-family: "CreatoDisplay";
  src: url(fonts/CreatoDisplay-LightItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "CreatoDisplay";
  src: url(fonts/CreatoDisplay-Light.otf) format("truetype");
  font-style: normal;
  font-weight: 200;
}

// --------REGULAR
@font-face {
  font-family: "CreatoDisplay";
  src: url(fonts/CreatoDisplay-RegularItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "CreatoDisplay";
  src: url(fonts/CreatoDisplay-Regular.otf) format("truetype");
  font-style: normal;
  font-weight: 300;
}

// --------MEDIUM
@font-face {
  font-family: "CreatoDisplay";
  src: url(fonts/CreatoDisplay-MediumItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "CreatoDisplay";
  src: url(fonts/CreatoDisplay-Medium.otf) format("truetype");
  font-style: normal;
  font-weight: 500;
}

// --------BOLD
@font-face {
  font-family: "CreatoDisplay";
  src: url(fonts/CreatoDisplay-BoldItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "CreatoDisplay";
  src: url(fonts/CreatoDisplay-Bold.otf) format("truetype");
  font-style: normal;
  font-weight: 700;
}

// --------BLACK
@font-face {
  font-family: "CreatoDisplay";
  src: url(fonts/CreatoDisplay-BlackItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: "CreatoDisplay";
  src: url(fonts/CreatoDisplay-Black.otf) format("truetype");
  font-style: normal;
  font-weight: 900;
}
